<h1>Stay Fit</h1>
<%= link_to "Add a meal", new_meal_path, class: "btn btn-info", id: "new_link", remote: true %>
<div id="all_meals">

</div>
<% if @meals.any? %>
<% @meals.each do |meal| %>
<div id="meal_link_<%=meal.id%>">
  <%= meal.name %><br>
  <%= meal.calories %><br>
  <%= link_to "Edit a meal", edit_meal_path(meal), remote: true, id: "edit_link_#{meal.id}" %><br>
  <%= link_to "Delete Item", meal_path(meal),  :data => { :confirm => "Are you sure?", :method => 'delete' }, remote: true %>
</div>
<% end %>
<% else %>
<p>
  Currently there are no meal logs. Add one <%= link_to "here", new_meal_path %>
</p>
<% end %>
